@use "./abstracts" as a;

* {
  @include a.reset();
}

body {
  background-image: url("../images/bernard-hermant-1nDW7BjBj1s-unsplash.jpg");
  @include a.backgroundProp();
  height: 100vh;
}

.mainContainer {
  @include a.flex(center, false, center);
  height: 70vh;
  margin-top: 8rem;
  border-radius: 25px;
}

.firstContainer {
  @include a.flex(false, column, false);
  @include a.container-hw();
  border-radius: 0px 25px 25px 0px;
  box-shadow: 1px 10px 20px #000000;
  color: a.$white;
  padding-left: 2.5rem;
  padding-top: 7rem;
  background: radial-gradient(black, #073521);
}

.secondContainer {
  @include a.container-hw;
  border-radius: 25px 0px 0px 25px;
  box-shadow: 5px 10px 18px #000000;
  background-image: url("../images/pexels-scott-webb-1048035.jpg");
  @include a.backgroundProp;
}

.header {
  margin-top: -5rem;
  margin-bottom: 2rem;
  margin-left: 0.8rem;
  color: rgb(215, 214, 210);
}

#name-label,
#email-label {
  width: 17.5rem;
}

#phone-number-label,
#number-label,
#email-label,
#name-label {
  padding: 0.3rem;
  margin: 0.3rem;
}

.userName,
.userAge,
.emailAdd,
.phoneNum,
.notes {
  @include a.survey-divs;
}

.userAge,
.phoneNum {
  width: 44.6%;
}

.notes {
  @include a.flex(false);
  padding-left: 0.8rem;
  margin-top: 0.5rem;
}

.notes {
  label {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-family: a.$font-family_2;
    color: a.$primary-light;
  }
}

label {
  span {
    font-family: a.$font-family_2;
    color: a.$primary-light;
  }
}

#survey-form {
  margin-top: -1.3rem;
}

.phoneAge {
  @include a.flex(false);
}

input {
  font-size: 0.8rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: a.$primary-light;
}

.userGender {
  @include a.flex(false, flex-start, false);
  gap: 6rem;
  padding: 0.3rem;
  padding-left: 1rem;
  width: 15rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.trees {
  @include a.flex(false);
  gap: 5rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.location {
  padding: 0.1rem;
  padding-left: 0.3rem;
  margin-top: -0.3rem;
}

#message {
  width: 20rem;
  background-color: a.$primary-light;
}

.leftText {
  text-align: right;
  padding: 2rem;
  color: #073521;
}

h1,
h2,
h3 {
  @include a.headers();
}

#submit {
  @include a.flex(center, false, center);
  font-family: a.$font-family_2;
  background-color: a.$primary-green;
  color: a.$white;
  margin-top: 3rem;
  margin-left: 0.8rem;
  padding: 0.5rem;
  padding-right: 0.5rem;
  width: 6rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border-style: none;
  font-size: 1rem;
}

.treeItems {
  @include a.flex(false);
  text-align: left;
  margin-left: 0.5rem;
}

.options {
  margin-left: 0.7rem;
  margin-top: 2rem;
}

#logoSubmit {
  width: 1.5rem;
  height: auto;
  margin-top: 0rem;
  padding: 0;
}

#dropdown {
  color: a.$primary-light;
}

@media all and (max-width: 1060px) {
  .mainContainer {
    @include a.flex(space-around, column, false);
    margin-top: 10rem;
  }

  .firstContainer {
    border-radius: 3px 3px 25px 25px;
    padding: 2rem;
    height: 59rem;
    width: 26rem;
    margin-top: 1rem;
  }

  .secondContainer {
    border-radius: 25px 25px 3px 3px;
    height: 30rem;
  }

  input,
  label {
    font-size: 0.8rem;
  }

  .headerLeft {
    background-color: rgba(245, 245, 220, 0.842);
    width: 21.8rem;
    text-align: center;
  }

  .header {
    margin-top: 0.2rem;
  }
}
