* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* background-color: rgb(255, 246, 209); */
    background-image: url('./images/bernard-hermant-1nDW7BjBj1s-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    
    /* background: linear-gradient(90deg, rgb(2,38,36) 50%, rgb(214,213,209) 50%); */
}
.mainContainer {
    display: flex;
    align-items: center;
    height: 70vh;
    justify-content: center;
    margin-top: 8rem;
    border-radius: 25px;
    /* border: 2px solid black; */
    
}

.firstContainer {
    /* border: 2px solid #FFC0CB; */
    /* width: 60vh;
    height: 60vh; */
    width:26rem;
    height: 40rem;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 1px 10px 20px #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    padding-top: 7rem;
    /* background-color: ; */
    background: radial-gradient(black , #073521 );

}

.secondContainer {
    /* border: 2px solid #00FFFF; */
    width: 26rem;
    height: 40rem;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 5px 10px 18px #000000;
    background-image: url('./images/pexels-scott-webb-1048035.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header {
    margin-top: -5rem;
    margin-bottom: 2rem;
    margin-left: 0.8rem;
    color: rgb(215,214,210);
}


#name-label, #email-label, #phone-number-label, #number-label {
    padding: 0.3rem;
    margin: 0.3rem;
}

.userName ,.userAge, .emailAdd, .phoneNum, .notes {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}

#survey-form {
    margin-top: -1.3rem;
    
    
}

.phoneAge {
    display: flex;
    /* border: 2px solid black; */
}

.phoneNum, .userAge {
    width: 44.6%;
}

#name-label, #email-label {
    width: 17.5rem;
}

label {
    margin-left: 0.5rem;
}

label, input {
    font-size: 0.8rem;
}

input {
    /* background-color: rgb(211, 236, 224); */
    border-style: none;
    border-radius: 0.5rem;
}

.userGender {
    display: flex;
    justify-content: flex-start;
    gap: 6rem;
    padding: 0.3rem;
    padding-left: 1rem;
    /* border: 2px solid black; */
    width: 15rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}

.trees {
    display: flex;
    gap: 5rem;
    padding: 0.3rem;
    /* border: 2px solid black; */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


.location {
    /* border: 2px solid black; */
    padding: 0.1rem;
    padding-left: 0.3rem;
    margin-top: -0.3rem;
}

.notes{
    /* border: 2px solid black; */
    display: flex;
    padding-left: 0.8rem;
    margin-top: 0.5rem;
}

.notes label {
    /* border: 2px solid black; */
    margin-left: 0rem;
}
#message {
    width: 20rem;
}

.leftText {
    text-align: right;
    padding: 2rem;
    color: #073521;
    /* border: none; */
}

h1, h2, h3 {
    /* font-family: 'Libre Baskerville', serif; */
    letter-spacing: 0.2rem;
    font-family: 'Playfair Display', serif;
}

#submit {
    margin-top: 3rem;
    margin-left: 0.8rem;
    padding: 0.5rem;
    padding-right: 0.5rem;
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: #256348;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    border-style: none;
    font-size: 1rem;
    justify-content: center;
}

input, #message {
    background-color: rgb(215,214,210);
}

label, span {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(215,214,210);
}

.treeItems {
    display: flex;
    /* justify-content: space-between; */
    text-align: left;
    margin-left: 0.5rem;
}

.options {
    /* border: 2px solid black; */
    margin-left: 0.7rem;
    margin-top: 2rem;
    
}

#logoSubmit {
    width: 1.5rem;
    height: auto;
    
    margin-top: 0rem;
    padding: 0;
}

@media all and (max-width: 1060px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .firstContainer {
        border-radius: 3px 3px 25px 25px;
        padding: 2rem;
        height: 59rem;
        width: 26rem;
        margin-top: 1rem;
    }

    .secondContainer {
        border-radius: 25px 25px 3px 3px ;
        height: 30rem;
    }

    input, label {
        font-size: 0.8rem;
    }
    
    .headerLeft {
        /* display: none; */
        background-color: rgba(245, 245, 220, 0.842);
        width: 21.8rem;
        text-align: center;
    }

    .header {
        margin-top: 0.2rem; 
    }
}